module {{.AppPath}}

go 1.22

require (
	github.com/1414C/lw v1.0.1
	github.com/1414C/sqac v0.0.3
	github.com/SAP/go-hdb v1.8.11
	github.com/denisenkom/go-mssqldb v0.12.3
	github.com/go-sql-driver/mysql v1.8.1
	github.com/lib/pq v1.10.9
	github.com/mattn/go-sqlite3 v1.14.22
	golang.org/x/crypto v0.21.0
	golang.org/x/net v0.21.0
	github.com/jmoiron/sqlx v1.3.5
)