{
    "port": 8080,    
    "env": "prod",     
    "pepper": "secret-pepper-key",  
    "hmac_Key": "secret-hmac-key",
    "database": {
        "db_dialect": "postgres",
        "host":       "localhost",
		"port":       5432,
		"usr":    
            "godev",
		"password":   "gogogo123",
		"name":       "glrestgen"
    },
    "cert_file": "mycert1.cer",
    "key_file": "mycert1.key",
    "jwt_priv_key_file": "jwtkeys/private.pem",
    "jwt_pub_key_file": "jwtkeys/public.pem"
}